@media screen and (min-width: 1199px) {
  $transition: transform 1200ms cubic-bezier(0.17, 0.66, 0.34, 0.98),
    opacity 500ms linear;
  $transition_two: transform 1350ms cubic-bezier(0.17, 0.66, 0.34, 0.98);

  @mixin img_scale($scale) {
    transform: scale($scale, $scale);
    transition: $transition;
  }

  @mixin transform_opacity($transform: 0px) {
    transform: translateY($transform);
    opacity: 0;
    transition: $transition;
  }

  @mixin fire_transform_opacity($delay) {
    transform: translateY(0px);
    opacity: 1;
    transition-delay: $delay, $delay;
  }
  @mixin fire_return_scale($scale, $delay: 0ms) {
    transform: scale($scale, $scale);
    transition-delay: $delay, $delay;
  }
  @mixin line_animation($direction) {
    transform: scale(0, 1);
    transform-origin: top $direction;
    transition: $transition_two;
  }

  // section one

  span#sec-one-subtitle {
    @include transform_opacity(-25px);
  }
  span#sec-one-title {
    @include transform_opacity(-25px);
  }
  span#sec-one-descrip {
    @include transform_opacity(-25px);
  }
  a.free-consult-button {
    @include transform_opacity(-25px);
  }
  body.ready {
    span#sec-one-subtitle {
      @include fire_transform_opacity(300ms);
    }
    span#sec-one-title {
      @include fire_transform_opacity(600ms);
    }
    span#sec-one-descrip {
      @include fire_transform_opacity(900ms);
    }
    a.free-consult-button {
      @include fire_transform_opacity(1200ms);
    }
  }
  // section three
  #sec-three-video-wrapper {
    #sec-three-video-thumbnail {
      transform: translateY(-40px);
      transition: $transition;
    }
    #sec-three-video-descrip {
      transform: translateX(20px);
      opacity: 0;
      transition: $transition;
    }
  }
  #sec-three-content.visible {
    #sec-three-video-wrapper {
      #sec-three-video-thumbnail {
        transform: translateY(0px);
      }
      #sec-three-video-descrip {
        transform: translateX(0px);
        opacity: 1;
        transition-delay: 200ms;
      }
    }
  }
  // section four
  #sec-four-descrip {
    &:before {
      @include line_animation(center);
    }
  }
  #section-four.visible {
    #sec-four-descrip {
      &:before {
        @include fire_return_scale(1);
      }
    }
  }
  span.sec-four-arrow-divider {
    @include line_animation(center);
  }
  .sec-four-tablet-arrow {
    opacity: 0;
    transition: transform 1200ms cubic-bezier(0.17, 0.66, 0.34, 0.98),
      opacity 500ms linear, background 200ms ease-in-out;
  }
  .sec-four-tablet-arrow-left {
    transform: translateX(-25px);
  }
  .sec-four-tablet-arrow-right {
    transform: translateX(25px);
  }
  #sec-four-tablet-arrows-wrapper.visible {
    span.sec-four-arrow-divider {
      @include fire_return_scale(1);
    }
    .sec-four-tablet-arrow {
      opacity: 1;
      transform: translateX(0px);
      transition-delay: 800ms, 800ms, 0ms;
    }
  }

  // section five
  .sec-five-image {
    img {
      @include img_scale(1.2);
    }
  }
  #section-five.visible {
    .sec-five-image {
      img {
        @include fire_return_scale(1);
      }
    }
  }
  // section six
  img#sec-six-hero {
    @include img_scale(1.2);
  }
  .sec-six-arrow {
    opacity: 0;
    transition: transform 1200ms cubic-bezier(0.17, 0.66, 0.34, 0.98),
      opacity 500ms linear, background 200ms ease-in-out;
  }
  .sec-six-arrow-left {
    transform: translateX(-45px);
  }
  .sec-six-arrow-right {
    transform: translateX(45px);
  }
  #section-six.visible {
    img#sec-six-hero {
      @include fire_return_scale(1);
    }
    .sec-six-arrow {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  // section eight
  span#sec-eight-title {
    &:after {
      @include line_animation(center);
    }
  }
  #section-eight.visible {
    span#sec-eight-title {
      &:after {
        @include fire_return_scale(1);
      }
    }
  }
  // section nine
  #sec-nine-img-wrapper {
    img {
      @include img_scale(1.2);
    }
  }
  #section-nine.visible {
    #sec-nine-img-wrapper {
      img {
        @include fire_return_scale(1);
      }
    }
  }
  // footer
  span#footer-form-title {
    &:after {
      @include line_animation(center);
    }
  }
  footer.visible {
    span#footer-form-title {
      &:after {
        @include fire_return_scale(1);
      }
    }
  }
  // about page
  .page-about-title {
    &:after {
      @include line_animation(center);
    }
  }
  #about-img-wrapper {
    &:after {
      transform: translateY(25px);
      transition: all 1200ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
    }
  }
  #about-img {
    transform: translateY(-25px);
    transition: all 1200ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
  }
  body.ready {
    .page-about-title {
      &:after {
        transition-delay: 200ms;
        @include fire_return_scale(1);
      }
    }
    #about-img-wrapper {
      &:after {
        transition-delay: 200ms;
        transform: translateY(0px);
      }
    }
    #about-img {
      transition-delay: 200ms;
      transform: translateY(0px);
    }
  }
  span#about-middle-title {
    &:after {
      @include line_animation(center);
    }
  }
  #about-middle.visible {
    span#about-middle-title {
      &:after {
        @include fire_return_scale(1);
      }
    }
  }
  #about-bottom {
    .page-about-title {
      &:after {
        @include line_animation(center);
      }
    }
    &.visible {
      .page-about-title {
        &:after {
          @include fire_return_scale(1);
        }
      }
    }
  }
  // bio
  .att-profile-img {
    img {
      @include img_scale(1.1);
    }
  }
  body.ready {
    .att-profile-img {
      img {
        transition-delay: 200ms;
        @include img_scale(1);
      }
    }
  }
  // internal pages
  .page-large-content-title {
    &:after {
      @include line_animation(center);
    }
  }
  body.ready {
    .page-large-content-title {
      &:after {
        @include fire_return_scale(1);
      }
    }
  }
}
