#section-nine {
  padding: 37px 30px 45px;
}

#sec-nine-inner {
}

#sec-nine-top {
}

#sec-nine-img-wrapper {
  img {
    @include image();
  }
}

#sec-nine-quote-wrapper {
  span {
    display: block;
    &#sec-nine-quote {
      margin-top: 20px;
      @include type(
        (
          size: 25px,
          height: 35px,
          family: $primaryfont,
          color: $color-dark-one,
          weight: 800,
          align: center,
        )
      );
      &:after {
        background: $color-dark-three;
        margin-top: 30px;
        @include margin_lr;
        @include box(42px, 4px);
        @include contentdisplay();
      }
    }
    &#sec-nine-name {
      margin-top: 32px;
      @include type(
        (
          size: 16px,
          height: 19px,
          spacing: 1.2px,
          family: $primaryfont,
          color: #62676d,
          weight: 800,
          align: center,
          transform: uppercase,
        )
      );
    }
    &#sec-nine-firm {
      margin-top: 8px;
      @include type(
        (
          size: 16px,
          height: 19px,
          family: $primaryfont,
          color: #62676d,
          weight: 600,
          align: center,
        )
      );
    }
  }
}

#sec-nine-bottom {
  margin-top: 53px;
}

#sec-nine-content {
  &.content {
    color: #62676d;
  }
}

span#sec-nine-title {
  display: block;
  padding: 0 20px 21px;
  margin-bottom: 22px;
  border-bottom: 1px solid $color-bright-two;
  @include type(
    (
      size: 35px,
      height: 38px,
      family: $secondaryfont,
      color: $color-dark-one,
      weight: 500,
      align: center,
    )
  );
}

#sec-nine-amount-wrapper {
  padding-top: 9px;
}

span#sec-nine-amounts-title {
  display: block;
  @include type(
    (
      size: 16px,
      height: 24px,
      spacing: 1.84px,
      family: $primaryfont,
      color: $color-dark-three,
      weight: 800,
      align: center,
      transform: uppercase,
    )
  );
}

#sec-nine-amounts {
  padding-top: 8px;
  @include flex(space-between, null, null, wrap);
}

span.sec-nine-amount {
  flex-basis: 44%;
  border-bottom: 1px solid #c6ced8;
  padding: 27px 5px 23px;
  display: none;
  @include type(
    (
      size: 22px,
      family: $secondaryfont,
      color: $color-dark-one,
      weight: 500,
      transform: uppercase,
    )
  );
  &:nth-of-type(-n + 6) {
    display: block;
  }
  &:nth-of-type(5),
  &:nth-of-type(6) {
    border-bottom: none;
  }
  &:nth-last-of-type(-n + 2) {
    // border-bottom:none;
  }
}
