#section-nine {
  padding: 37px 30px 45px;
  @include mq(small-tablet) {
    padding: 54px 94px 65px;
  }
  @include mq(small-laptop) {
    padding: 129px 128px 95px;
  }
  @include mq(large-laptop) {
    padding: 146px 128px 130px;
  }
  @include mq(small-monitor) {
    padding: 130x 128px 130px;
  }
}

#sec-nine-inner {
  @include mq(small-laptop) {
    @include flex();
  }
  @include mq(small-monitor) {
    max-width: 1300px;
    justify-content: space-between;
    @include margin_lr;
  }
}

#sec-nine-top {
  @include mq(small-tablet) {
    @include flex();
  }
  @include mq(small-laptop) {
    display: block;
  }
}

#sec-nine-img-wrapper {
  max-width: 380px;
  overflow: hidden;
  @include margin_lr;
  @include mq(small-tablet) {
    flex-basis: 276px;
    flex-shrink: 0;
    margin: 0;
    max-width: 100%;
  }
  @include mq(small-laptop) {
    width: 358px;
  }
  @include mq(large-laptop) {
    width: 423px;
  }
  img {
    @include image();
  }
}

#sec-nine-quote-wrapper {
  max-width: 460px;
  text-align: center;
  @include margin_lr;
  @include mq(small-tablet) {
    text-align: left;
    margin-top: 6px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 48px;
    flex-grow: 1;
    max-width: 100%;
  }
  @include mq(small-laptop) {
    padding-left: 0px;
    margin-top: 40px;
  }
  @include mq(small-monitor) {
    margin-left: 20px;
  }
  span {
    display: block;
    &#sec-nine-quote {
      margin-top: 20px;
      @include type(
        (
          size: 25px,
          height: 35px,
          family: $primaryfont,
          color: $color-dark-one,
          weight: 800,
        )
      );
      @include mq(small-tablet) {
        max-width: 485px;
      }
      @include mq(small-laptop) {
        margin-top: 0;
        max-width: 375px;
        @include quick_type(28px, 38px, null);
      }
      &:after {
        background: $color-dark-three;
        margin-top: 30px;
        @include margin_lr;
        @include box(42px, 4px);
        @include contentdisplay();
        @include mq(small-tablet) {
          margin: 33px 0 0;
        }
      }
    }
    &#sec-nine-name {
      margin-top: 32px;
      @include type(
        (
          size: 16px,
          height: 19px,
          spacing: 1.2px,
          family: $primaryfont,
          color: #62676d,
          weight: 800,
          transform: uppercase,
        )
      );
      @include mq(small-tablet) {
        margin-top: 27px;
      }
    }
    &#sec-nine-firm {
      margin-top: 8px;
      @include type(
        (
          size: 16px,
          height: 19px,
          family: $primaryfont,
          color: #62676d,
          weight: 600,
        )
      );
      @include mq(small-tablet) {
        margin-top: 4px;
      }
    }
  }
}

#sec-nine-bottom {
  margin-top: 53px;
  @include mq(small-laptop) {
    margin-top: -13px;
    padding-left: 81px;
  }
  @include mq(large-laptop) {
    padding-left: 106px;
  }
  @include mq(small-monitor) {
    width: 594px;
    padding: 0;
  }
}

#sec-nine-content {
  #sec-nine-content-inner {
    @include mq(large-laptop) {
      padding-right: 45px;
    }
  }
  &.content {
    color: #62676d;
  }
}

span#sec-nine-title {
  display: block;
  max-width: 402px;
  padding: 0 20px 21px;
  margin-bottom: 22px;
  border-bottom: 1px solid $color-bright-two;
  @include margin_lr;
  @include type(
    (
      size: 35px,
      height: 38px,
      family: $secondaryfont,
      color: $color-dark-one,
      weight: 500,
      align: center,
    )
  );
  @include mq(small-tablet) {
    max-width: 100%;
    padding: 8px 0 17px 0;
    text-align: left;
    width: 100%;
    margin-bottom: 29px;
    margin-left: 0;
    margin-right: 0;
    @include quick_type(50px, 55px, null);
  }
  @include mq(small-laptop) {
    padding: 8px 0 29px 0;
    @include quick_type(60px, 65px, null);
  }
  @include mq(large-laptop) {
    padding-right: 40px;
    margin-bottom: 29px;
    @include quick_type(75px, 75px, null);
  }
}

#sec-nine-amount-wrapper {
  padding-top: 9px;
  @include mq(large-laptop) {
    padding-top: 45px;
  }
  @include mq(small-monitor) {
    padding-top: 37px;
  }
}

span#sec-nine-amounts-title {
  display: block;
  max-width: 300px;
  @include margin_lr;
  @include type(
    (
      size: 16px,
      height: 24px,
      spacing: 1.84px,
      family: $primaryfont,
      color: $color-dark-three,
      weight: 800,
      align: center,
      transform: uppercase,
    )
  );
  @include mq(small-tablet) {
    max-width: 100%;
    text-align: left;
  }
  @include mq(large-laptop) {
    font-size: 18px;
  }
}

#sec-nine-amounts {
  padding-top: 8px;
  @include flex(space-between, null, null, wrap);
  @include mq(small-tablet) {
    padding-top: 15px;
  }
  @include mq(small-laptop) {
    padding-top: 6px;
    max-width: 433px;
  }
  @include mq(large-laptop) {
    max-width: 100%;
  }
}

span.sec-nine-amount {
  flex-basis: 44%;
  border-bottom: 1px solid #c6ced8;
  padding: 27px 5px 23px;
  display: none;
  @include mq(small-tablet) {
    display: block;
  }
  @include type(
    (
      size: 22px,
      family: $secondaryfont,
      color: $color-dark-one,
      weight: 500,
      transform: uppercase,
    )
  );
  @include mq(small-tablet) {
    flex-basis: 30%;
  }
  @include mq(large-laptop) {
    font-size: 25px;
  }
  &:nth-of-type(-n + 6) {
    display: block;
  }
  &:nth-of-type(5),
  &:nth-of-type(6) {
    border-bottom: none;
    @include mq(small-tablet) {
      border-bottom: 1px solid #c6ced8;
    }
  }
  &:nth-last-of-type(-n + 3) {
    @include mq(small-tablet) {
      border-bottom: none;
    }
  }
}
