.content {
  @include type(
    (
      size: 15px,
      height: 25px,
      family: $primaryfont,
      color: #000,
      weight: 600,
    )
  );
  @include mq(small-tablet) {
    @include quick_type(16px, 30px, null);
  }
  @include mq(small-monitor) {
    @include quick_type(17px, 30px, null);
  }
  strong {
    font-weight: 800;
  }
  p {
    margin-bottom: 25px;
  }
  a:not(.button):not(.att-email):not(.bio-links),
  span.go-back {
    color: $color-bright-two;
    font-weight: 800;
    text-decoration: underline;
    transition: all 200ms ease-in-out;
    &:hover {
      color: $color-dark-three;
      text-decoration: none;
    }
  }
  img {
  }
  h2 {
    padding-bottom: 20px;
    @include type(
      (
        size: 20px,
        height: 26px,
        family: $primaryfont,
        color: $color-dark-three,
        weight: 800,
      )
    );
    @include mq(small-tablet) {
      padding-top: 9px;
    }
    @include mq(small-laptop) {
      @include quick_type(22px, 30px, null);
    }
    span {
      display: inline-block;
      font-size: 9px;
      vertical-align: top;
      position: relative;
      top: -2px;
    }
  }
  h3 {
    padding-bottom: 20px;
    @include type(
      (
        size: 18px,
        height: 25px,
        family: $primaryfont,
        color: $color-bright-two,
        weight: 800,
        transform: uppercase,
      )
    );
    span {
      font-size: 10px;
      vertical-align: top;
      position: relative;
      top: -3px;
    }
  }
  h4 {
    padding-bottom: 18px;
    @include type(
      (
        size: 17px,
        height: 30px,
        family: $primaryfont,
        color: $color-dark-three,
        weight: 800,
      )
    );
    // @include mq(small-laptop) {
    //   font-size: 19px;
    // }
  }
  ul {
    list-style: none;
    li {
      position: relative;
      padding-left: 20px;
      padding-bottom: 20px;
      @include mq(small-laptop) {
        padding-left: 40px;
      }
      &:before {
        background: $color-bright-two;
        border-radius: 50%;
        @include abs(10px, null, null, 0);
        @include box(6px);
        @include contentdisplay();
        @include mq(small-tablet) {
          @include abs(13px, null, null, 0);
        }
      }
    }
  }
  ol {
    list-style: none;
    counter-reset: item;
    > li {
      counter-increment: item;
      position: relative;
      padding-left: 20px;
      padding-bottom: 20px;
      @include mq(small-laptop) {
        padding-left: 40px;
      }
    }
    > li:before {
      content: counter(item) ".";
      font-weight: 800;
      color: $color-bright-two;
      @include abs(0, null, null, 0);
    }
  }
}

.blockquote {
  padding: 25px 0 35px;
  max-width: 850px;
  @include margin_lr;
  @include type(
    (
      size: 23px,
      height: 30px,
      family: $secondaryfont,
      color: $color-dark-one,
      weight: 500,
    )
  );
  @include mq(small-tablet) {
    text-align: center;
    padding: 45px 40px 55px;
    @include quick_type(27px, 33px, null);
  }
  @include mq(small-laptop) {
    @include quick_type(30px, 38px, null);
  }
  @include mq(large-laptop) {
    padding: 65px 40px 70px;
    @include quick_type(33px, 40px, null);
  }
  > p {
    margin-bottom: 0;
  }
  span {
    display: block;
    padding-top: 15px;
    @include type(
      (
        size: 14px,
        height: 16px,
        spacing: 1.4,
        family: $primaryfont,
        color: $color-bright-two,
        weight: 800,
        transform: uppercase,
      )
    );
    @include mq(small-laptop) {
      padding-top: 20px;
    }
  }
}

.alignleft,
img.alignleft {
  @include mq(mobile) {
    float: left;
    margin-right: 24px;
    margin-top: 7px;
  }
}
.alignright,
img.alignright {
  @include mq(mobile) {
    float: right;
    margin-left: 24px;
    margin-top: 7px;
  }
}
.aligncenter,
img.aligncenter {
  @include margin_lr;
}
.alignleft,
img.alignleft,
.alignright,
img.alignright,
.aligncenter,
img.aligncenter {
  @include image();
  margin-bottom: 12px;
}

img.alignleft,
img.aligncenter,
img.alignright {
  border: 16px solid $color-light-one;
  box-shadow: 0px 1px 20px #00000040;
}
