.content {
  @include type(
    (
      size: 15px,
      height: 25px,
      family: $primaryfont,
      color: #000,
      weight: 600,
    )
  );
  @include mq(small-tablet) {
    @include quick_type(16px, 30px, null);
  }
  @include mq(small-laptop) {
    @include quick_type(17px, 30px, null);
  }
  p {
    margin-bottom: 25px;
  }
  h2 {
    @include type(
      (
        size: 17px,
        height: 25px,
        family: $primaryfont,
        color: $color-dark-three,
        weight: 800,
      )
    );
    @include mq(small-tablet) {
      padding-top: 9px;
    }
    span {
      display: inline-block;
      font-size: 9px;
      vertical-align: top;
      position: relative;
      top: -2px;
    }
  }
  h3 {
    @include type(
      (
        size: 18px,
        height: 22px,
        family: $primaryfont,
        color: $color-bright-two,
        weight: 800,
      )
    );
    @include mq(small-tablet) {
      font-size: 20px;
      padding-bottom: 5px;
    }
  }
}
