#internal-banner {
  display: none;
  padding: 47px 45px;
  overflow: hidden;
  @include mq(small-tablet) {
    padding: 66px 95px;
    position: relative;
  }
  @include mq(small-laptop) {
    display: block;
    background: $color-dark-three;
    height: 417px;
  }
  @include mq(large-laptop) {
    height: 490px;
  }
}

#internal-banner-content {
  text-align: center;
  @include mq(small-laptop) {
    padding-top: 133px;
  }
  @include mq(large-laptop) {
    padding-top: 150px;
  }
}

.banner-title {
  @include mq(small-laptop) {
    @include type(
      (
        size: 95px,
        height: 95px,
        align: center,
        color: $color-light-one,
      )
    );
  }
  span {
    @include mq(small-laptop) {
      font-weight: 300;
    }
  }
  &:after {
    @include mq(small-laptop) {
      display: none;
    }
  }
}

#banner-descrip {
  margin-top: 20px;
  max-width: 425px;
  @include margin_lr;
  @include type(
    (
      size: 15px,
      height: 20px,
      family: $primaryfont,
      color: $color-bright-two,
      weight: 600,
      align: center,
    )
  );
  @include mq(small-tablet) {
    max-width: 385px;
    @include quick_type(17px, 30px, null);
  }
  @include mq(small-laptop) {
    color: $color-bright-one;
    max-width: 675px;
    margin-top: 12px;
    @include quick_type(20px, 30px, null);
  }
  p {
    margin-bottom: 20px;
  }
}

body.page-template-default {
  #banner-descrip {
    max-width: 100%;
  }
}

#internal-banner-slider-wrapper {
  display: none;
  @include mq(small-laptop) {
    display: block;
    @include box(100%, 490px);
    @include abs(0, null, null, 0);
  }
}

#internal-banner-slider {
}

.internal-banner-slide {
  position: relative;
  .internal-banner-slide-inner {
    @include box(100%, 490px);
    img {
      object-fit: cover;
      @include image();
      @include abs(0, null, null, 0);
      @include box(100%);
    }
  }
}

#internal-banner-content {
  position: relative;
  z-index: 1;
}
