header {
  position: relative;
  width: 100%;
  @include fixed(0, null, null, 0, 5);
}

#header-left {
  padding: 15px 70px 15px 20px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.25);
  @include box(100%, 93px);
  @include flex(space-between, flex-end);
}

.translate-wrapper {
  margin-left: 60px;
  flex-grow: 1;
  max-width: 180px;
  @include flex(space-between);
  a {
    @include type(
      (
        size: 12px,
        height: 14px,
        family: $primaryfont,
        color: $color_light_one,
        weight: 800,
        transform: uppercase,
      )
    );
  }
}

#header-right {
  padding: 11px 20px 10px;
  @include flex(center, center);
}

#free-consult-wrapper {
  padding-top: 1px;
  span {
    display: inline-block;
    @include type(
      (
        size: 15px,
        height: 18px,
        family: $secondaryfont,
        color: $color_light_one,
        weight: 500,
        transform: uppercase,
      )
    );
    &:first-of-type {
      //margin-right: 9px;
    }
  }
}

a#header-phone {
  flex-shrink: 0;
  @include flex(center, center);
  @include type(
    (
      size: 24px,
      height: 24px,
      family: $primaryfont,
      color: $color_bright_one,
      weight: 800,
    )
  );
  &:before {
    border-radius: 50%;
    background: $color_bright_one;
    margin: 0 19px;
    @include contentdisplay(inline-block);
    @include box(6px);
  }
}

#menu-wrapper {
  background: $color_light_one;
  @include flex(center, center, column);
  @include box(53px, 93px);
  @include abs(0, 0, null, null);
  span.menu-bar {
    display: block;
    background: $color_dark_three;
    margin-bottom: 5px;
    @include box(26px, 2px);
  }
  span#menu-title {
    padding-top: 1px;
    @include type(
      (
        size: 10px,
        height: 13px,
        family: $primaryfont,
        color: $color_dark_three,
        weight: 800,
      )
    );
  }
}
