header {
  position: relative;
  width: 100%;
  @include fixed(0, null, null, 0, 5);
  @include mq(small_tablet) {
    border-bottom: 1px solid rgba(112, 112, 112, 0.25);
    @include flex(space-between);
  }
}

#header-left {
  padding: 15px 70px 15px 20px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.25);
  @include box(100%, 93px);
  @include flex(space-between, flex-end);
  @include mq(small_tablet) {
    flex-shrink: 0;
    width: auto;
    padding: 15px 20px;
    border: none;
  }
}

.translate-wrapper {
  margin-left: 60px;
  flex-grow: 1;
  max-width: 150px;
  @include flex(space-between);
  @include mq(small_tablet) {
    width: 115px;
    @include abs(15px, 73px, null, null);
  }
  a {
    @include type(
      (
        size: 12px,
        height: 14px,
        family: $primaryfont,
        color: $color_light_one,
        weight: 800,
        transform: uppercase,
      )
    );
  }
}

#header-right {
  padding: 11px 20px 10px;
  @include flex(space-between, center);
  @include mq(small_tablet) {
    padding: 21px 70px 10px 20px;
    flex-grow: 1;
    justify-content: flex-end;
  }
}

#free-consult-wrapper {
  padding-top: 1px;
  @media screen and (min-width: 370px) {
    margin-right: 20px;
  }
  @media screen and (min-width: 428px) {
    @include flex(center, center);
  }
  @include mq(small_tablet) {
    margin-right: 13px;
    padding-top: 5px;
  }
  span {
    display: inline-block;
    @include type(
      (
        size: 15px,
        height: 18px,
        family: $secondaryfont,
        color: $color_light_one,
        weight: 500,
        transform: uppercase,
      )
    );
    @media screen and (min-width: 428px) {
      @include flex(center, center);
    }
    @include mq(small_tablet) {
      font-size: 16px;
    }
    &:first-of-type {
      @media screen and (min-width: 370px) {
        margin-right: 9px;
      }
      &:after {
        @media screen and (min-width: 428px) {
          border-radius: 50%;
          background: $color_bright_one;
          margin: 0 2px 0 8px;
          @include contentdisplay(inline-block);
          @include box(6px);
        }
      }
    }
  }
}

a#header-phone {
  flex-shrink: 0;
  @include flex(center, center);
  @include type(
    (
      size: 24px,
      height: 24px,
      family: $primaryfont,
      color: $color_bright_one,
      weight: 800,
    )
  );
  &:before {
    border-radius: 50%;
    background: $color_bright_one;
    margin: 0 19px;
    @include contentdisplay(inline-block);
    @include box(6px);
    @media screen and (min-width: 370px) {
      display: none;
    }
  }
}

#menu-wrapper {
  background: $color_light_one;
  @include flex(center, center, column);
  @include box(53px, 93px);
  @include abs(0, 0, null, null);
  span.menu-bar {
    display: block;
    background: $color_dark_three;
    margin-bottom: 5px;
    @include box(26px, 2px);
  }
  span#menu-title {
    padding-top: 1px;
    @include type(
      (
        size: 10px,
        height: 13px,
        family: $primaryfont,
        color: $color_dark_three,
        weight: 800,
      )
    );
  }
}
