#section-one {
  width: 100%;
  overflow: hidden;
  background: $color-dark-three;
  @include mq(small-laptop) {
    @include flex();
  }
  &:after {
    background: #2e4389;
    margin: -36px auto 0;
    @include contentdisplay();
    @include box(1px, 36px);
    position: relative;
    z-index: 1;
    @include mq(small-tablet) {
      display: none;
    }
  }
}

#sec-one-content {
  padding: 164px 0 0 0;
  position: relative;
  z-index: 1;
  text-align: center;
  overflow: hidden;
  @include mq(small-tablet) {
    padding: 122px 0 0 0;
  }
  @include mq(small-laptop) {
    flex-grow: 1;
    text-align: left;
    padding: 241px 0 0 0;
  }
  @include mq(large-laptop) {
    padding: 261px 0 0 0;
  }
  span {
    display: block;
    color: $color-light-one;
  }
  span#sec-one-subtitle {
    @include type(
      (
        size: 35px,
        height: 40px,
        weight: 300,
        family: $secondaryfont,
      )
    );
    @include mq(small-tablet) {
      font-size: 40px;
      margin-bottom: 10px;
    }
    @include mq(small-laptop) {
      font-size: 75px;
      margin-bottom: 45px;
    }
    @include mq(large-laptop) {
      font-size: 100px;
      margin-bottom: 62px;
    }
  }
  span#sec-one-title {
    @include type(
      (
        size: 70px,
        height: 72px,
        family: $secondaryfont,
        weight: 500,
        transform: uppercase,
      )
    );
    @include mq(small-tablet) {
      font-size: 90px;
    }
    @include mq(small-laptop) {
      font-size: 120px;
    }
    @include mq(large-laptop) {
      font-size: 150px;
    }
  }
  span#sec-one-descrip {
    max-width: 265px;
    margin: 0 auto 22px;
    @include type(
      (
        size: 15px,
        height: 20px,
        family: $primaryfont,
        weight: 600,
      )
    );
    @include mq(small-tablet) {
      margin-top: 19px;
      max-width: 435px;
      @include quick_type(18px, 25px, null);
    }
    @include mq(small-laptop) {
      max-width: 500px;
      margin: 37px 0 40px;
      @include quick_type(22px, 35px, null);
    }
    @include mq(large-laptop) {
      margin: 45px 0 40px;
      font-size: 25px;
      max-width: 630px;
    }
  }
}

#sec-one-content-inner {
  position: relative;
  z-index: 1;
  padding-bottom: 48px;
  @include mq(small-laptop) {
    margin-left: 93px;
  }
  @include mq(large-laptop) {
    margin-left: 113px;
  }
  @include mq(small-monitor) {
    max-width: 1140px;
    margin: 0 auto;
  }
}

#hero-slider {
  width: 100%;
  @include abs(0, null, null, 0);
}

.hero-slide-inner {
  height: 456px;
  position: relative;
  @include mq(small_tablet) {
    height: 431px;
  }
  @include mq(small-laptop) {
    height: 750px;
  }
  @include mq(large-laptop) {
    height: 876px;
  }
}

img.hero {
  object-fit: cover;
  @include box(100%);
  @include abs(0, null, null, 0);
}

#sec-one-cr-wrapper {
  background: $color-dark-three;
  width: 100%;
  min-height: 197px;
  overflow: hidden;
  @include mq(small-tablet) {
    padding: 0 10px;
    min-height: 194px;
    @include flex(space-between, center);
  }
  @include mq(small-laptop) {
    flex-basis: 353px;
    flex-shrink: 0;
    padding: 0;
    display: block;
    position: relative;
  }
  @include mq(large-laptop) {
    flex-basis: 398px;
  }
}

#sec-one-slider-wrapper {
  @include mq(small-tablet) {
    order: 2;
    overflow: hidden;
    padding: 16px 0px;
    width: calc(100% - 60px);
  }
  @include mq(small-laptop) {
    padding: 0;
    height: 735px;
    margin: 15px 0 0 0;
    width: 100%;
  }
  @include mq(large-laptop) {
    height: 861px;
  }
  &:after {
    @include mq(small-laptop) {
      background: $color-dark-four;
      @include abs(0, 0, null, null);
      @include box(52px, 100%);
      @include contentdisplay();
    }
  }
}

#sec-one-slider {
  @include mq(small-tablet) {
    width: 104%;
    margin: 0 auto 0px;
    position: relative;
    left: -2%;
  }
  @include mq(small-laptop) {
    left: 0;
    margin: 0;
    padding: 0 35px;
    width: calc(100% - 52px);
    height: 704px;
    overflow: hidden;
  }
  @include mq(large-laptop) {
    height: 834px;
  }
  @include mq(small-monitor) {
    padding: 0 42px;
  }
}

.sec-one-slide {
  text-align: center;
  padding: 35px 20px;
  height: 100%;
  &:hover {
    a {
      .sec-one-slide-inner {
        span.sec-one-title {
          color: $color-bright-one;
        }
      }
    }
  }
  a {
    text-decoration: none;
  }
  @include mq(small-tablet) {
    height: 161px;
    padding: 0 20px;
    position: relative;
    left: 1px;
    border-right: 1px solid #2d58a6;
  }
  @include mq(small-laptop) {
    text-align: left;
    border-right: none;
    border-bottom: 1px solid #2d58a6;
    padding: 15px 10px;
    height: 176px;
  }
  @include mq(large-laptop) {
    padding: 35px 5px;
    height: 208px;
  }
  .sec-one-slide-inner {
    height: 100%;
    @include flex(center, center, column);
    @include mq(small-laptop) {
      display: block;
      align-items: flex-start;
    }
    span {
      display: block;
      &.sec-one-subtitle {
        margin-bottom: 7px;
        @include type(
          (
            size: 12px,
            height: 14px,
            family: $primaryfont,
            color: $color-bright-one,
            weight: 800,
            transform: uppercase,
          )
        );
        @include mq(small-tablet) {
          font-size: 9px;
        }
        @include mq(small-laptop) {
          @include quick_type(12px, 17px, null);
        }
      }
      &.sec-one-title {
        margin-bottom: 18px;
        transition: all 200ms ease-in-out;
        @include type(
          (
            size: 35px,
            height: 37px,
            family: $secondaryfont,
            color: $color-light-one,
            weight: 500,
            transform: lowercase,
          )
        );
        @include mq(small-tablet) {
          font-size: 30px;
          margin-bottom: 5px;
        }
        @include mq(small-laptop) {
          font-size: 35px;
          margin-bottom: 16px;
        }
        @include mq(large-laptop) {
          font-size: 42px;
        }
      }
      &.sec-one-descrip {
        max-width: 240px;
        margin: 0 auto;
        @include type(
          (
            size: 13px,
            height: 15px,
            family: $primaryfont,
            color: $color-light-one,
          )
        );
        @include mq(small-tablet) {
          max-width: 152px;
        }
        @include mq(small-laptop) {
          margin: 0;
          max-width: 200px;
          line-height: 18px;
        }
        @include mq(large-laptop) {
          max-width: 100%;
          @include quick_type(15px, 22px, null);
        }
      }
    }
  }
}

.sec-one-arrow {
  width: 50%;
  float: left;
  background: $color-dark-four;
  padding: 10px 0;
  cursor: pointer;
  @include flex(center, center);
  @include mq(small-tablet) {
    background: transparent;
    float: none;
    @include box(52px, 100%);
  }
  @include mq(small-laptop) {
    position: absolute;
    right: 0;
    display: block !important;
    height: 15px;
  }
  svg {
    @include box(7px, 16px);
    @include mq(small-tablet) {
      @include box(23px, 23px);
    }
    @include mq(small-laptop) {
      transform: rotate(90deg);
      margin-left: 37px;
      transform-origin: 0 0 0;
      @include box(15px, 23px);
    }
    &:hover {
      path {
        fill: $color-bright-one;
      }
    }
    path {
      transition: all 200ms ease-in-out;
    }
  }
}

.sec-one-arrow-left {
  order: 1;
  @include mq(small-laptop) {
    top: 5px;
  }
  svg {
  }
}

.sec-one-arrow-right {
  order: 2;
  @include mq(small-laptop) {
    bottom: 28px;
  }
  svg {
  }
}
