body.page-template-template-bio {
  .page-title {
    &:after {
      max-width: 429px;
      @include mq(small-tablet) {
        margin: 20px auto 0;
      }
      @include mq(small-laptop) {
        max-width: 100%;
      }
    }
    &.bio-title {
      @include mq(small-laptop) {
        @include quick_type(60px, 65px, null);
      }
      @include mq(large-laptop) {
        @include quick_type(70px, 75px, null);
      }
      @include mq(small-monitor) {
        @include quick_type(80px, 85px, null);
      }
    }
  }
  #page-container {
    @include mq(small-tablet) {
      padding: 66px 80px 97px;
    }
    @include mq(small-laptop) {
      padding: 109px 100px 97px;
    }
  }
}

#att-top {
  @include mq(small-tablet) {
    padding-top: 25px;
    @include flex();
  }
  @include mq(small-laptop) {
    padding-top: 9px;
  }
  @include mq(large-laptop) {
    padding-top: 16px;
  }
}

#bio-mobile {
  @include mq(small-laptop) {
    display: none;
  }
}

#bio-desktop {
  display: none;
  @include mq(small-laptop) {
    display: block;
  }
}

.att-profile-wrapper {
  background: $color-light-one;
  box-shadow: 0px 1px 20px #00000040;
  padding: 37px;
  max-width: 290px;
  @include margin_lr;
  @include mq(small-tablet) {
    flex-basis: 279px;
    flex-shrink: 0;
    margin-bottom: 35px;
  }
  @include mq(small-laptop) {
    max-width: 100%;
    margin-bottom: 47px;
    padding: 47px;
  }
}

.att-profile-img {
  overflow: hidden;
  position: relative;
  img {
    @include image();
    width: 100%;
  }
}

.att-email-wrapper {
  display: block;
  margin-top: 17px;
  text-align: center;
  @include mq(large-laptop) {
    margin-top: 31px;
  }
  span,
  a {
    display: inline-block;
  }
  span {
    margin-right: 6px;
    @include type(
      (
        family: $primaryfont,
        color: $color-dark-one,
        weight: 800,
        transform: uppercase,
      )
    );
  }
  a {
    @include type(
      (
        size: 16px,
        height: 18px,
        spacing: 0.4px,
        family: $primaryfont,
        color: $color-dark-three,
        weight: 600,
        transform: lowercase,
        decoration: underline,
        align: center,
      )
    );
    @include mq(small-laptop) {
      font-size: 18px;
    }
  }
}

#att-intro-wrapper {
  margin-top: 30px;
  @include mq(small-tablet) {
    padding-left: 53px;
    margin-top: 0;
  }
  @include mq(small-laptop) {
    padding-left: 0;
  }

  .single-video {
    // inherits most video styles from the videocenter
    margin-bottom: 18px;
    max-width: 280px;
    border-bottom: none;
    width: 100%;
    @include margin_lr;
    @include mq(small-tablet) {
      max-width: 254px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 30px;
    }
    @include mq(small-laptop) {
      //margin-bottom: 0px;
      margin-right: 28px;
      float: left;
    }
    @include mq(large-laptop) {
      max-width: 331px;
    }
    .play-button {
      @include box(80px);
      @include mq(large-laptop) {
        @include box(105px);
      }
      &:before {
        @include box(57px);
        @include mq(large-laptop) {
          @include box(74px);
        }
      }
      &:after {
        top: 30px;
        left: 36px;
        @include mq(large-laptop) {
          top: 42px;
          left: 48px;
        }
      }
    }
    .video-thumb {
      border: 14px solid #fff;
    }
    .mywisita {
      height: 155px;
      @include mq(small-tablet) {
        height: 131px;
      }
      @include mq(small-laptop) {
        height: 137px;
      }
      @include mq(large-laptop) {
        height: 187px;
      }
    }
  }
}

#att-intro {
  @include type(
    (
      size: 16px,
      height: 28px,
      family: $primaryfont,
      color: $color-dark-three,
      weight: 800,
    )
  );
  @include mq(small-tablet) {
    @include quick_type(17px, 33px, null);
  }
  @include mq(small-laptop) {
    @include quick_type(22px, 35px, null);
  }
  @include mq(small-monitor) {
    margin-top: 20px;
  }
}

.sidebar-bio {
  .widget {
    padding-left: 29px;
    padding-right: 29px;
    h3 {
      padding: 0 20px;
      position: relative;
      width: auto;
      @include mq(mobile) {
        padding: 0 60px;
      }
      @include mq(small-laptop) {
        padding: 0 20px;
      }
      &:before {
        top: 45%;
        transform: translateY(-50%);
        right: 0;
        @include mq(mobile) {
          right: 40px;
        }
        @include mq(small-tablet) {
          right: 25px;
        }
        @include mq(small-laptop) {
          right: -5px;
        }
        @include mq(large-laptop) {
          right: 3px;
        }
      }
    }
    #bio-list {
      display: none;
      @include mq(small-laptop) {
        display: block;
      }
      span#bio-list-decrip {
        display: block;
        margin-bottom: 20px;
        @include type(
          (
            size: 15px,
            height: 20px,
            spacing: 0.42px,
            family: $primaryfont,
            color: $color-dark-one,
            weight: 800,
            align: center,
          )
        );
        @include mq(small-laptop) {
          margin-bottom: 9px;
          max-width: 335px;
          margin-top: -8px;
          @include margin_lr;
          @include quick_type(17px, 25px, null);
        }
        @include mq(large-laptop) {
          margin-bottom: 43px;
        }
      }
      ul {
        display: block;
        li {
          padding: 0 10px;
          border-bottom: 1px solid #dde0e2;
          &:last-of-type {
            border-bottom: none;
            a {
              padding-bottom: 0;
            }
          }
          a {
            padding-left: 25px;
            position: relative;
            border: none;
            &:before {
              background: $color-bright-two;
              border-radius: 50%;
              @include box(5px);
              @include contentdisplay();
              @include abs(21px, null, null, 0);
              @include mq(large-laptop) {
                top: 24px;
              }
            }
          }
        }
      }
    }
    &.articles {
      padding-bottom: 0;
    }
  }
}

#bio-slider-wrapper {
  max-height: 0px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out,
    max-height 800ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
  @include mq(small-laptop) {
    opacity: 1;
    visibility: visible;
    max-height: 3000px;
  }
  &.open {
    opacity: 1;
    visibility: visible;
    max-height: 3000px;
  }
}

#bio-slider {
  margin-top: 30px;
  margin-bottom: 40px;
  @include mq(large-laptop) {
    margin-bottom: 36px;
  }
}

.bio-slide {
  text-align: center;
  span.bio-slide-title {
    display: block;
    max-width: 185px;
    @include margin_lr;
    @include type(
      (
        size: 15px,
        height: 22px,
        spacing: 0.45px,
        family: $primaryfont,
        color: $color-bright-two,
        weight: 800,
        transform: uppercase,
      )
    );
    @include mq(small-laptop) {
      max-width: 240px;
      @include quick_type(18px, 25px, null);
    }
  }
  .bio-slide-content {
    margin-top: 17px;
    @include mq(small-laptop) {
      max-width: 250px;
      @include margin_lr;
    }
    @include mq(large-laptop) {
      max-width: 320px;
    }
    p {
      a {
        transition: all 200ms ease-in-out;
        color: $color-dark-three !important;
        &:hover {
          color: $color-bright-two !important;
        }
      }
    }
  }
}

.bio-slider-arrow-wrapper {
  width: calc(100% + 58px);
  margin-left: -29px;
  @include flex();
  .bio-arrow {
    padding: 12px 10px;
    flex-basis: 50%;
    cursor: pointer;
    background: #62676d;
    transition: background 200ms ease-in-out;
    @include flex(center, center);
    &:hover {
      background: #8c949d;
    }
  }
  .bio-arrow-left {
    border-right: 1px solid #91979f;
  }
}

.placeholder-wrapper {
  background: #62676d;
  @include box(100%);
  @include abs(0, null, null, 0);
  @include flex(center, center);
  @include type(
    (
      size: 16px,
      height: 19px,
      family: $primaryfont,
      color: $color-light-one,
      weight: 600,
      align: center,
      transform: uppercase,
    )
  );
  &:after {
    @include contentdisplay(block, "Profile Coming Soon");
  }
}
