.att-profile-wrapper {
  background: $color-light-one;
  box-shadow: 0px 1px 20px #00000040;
  padding: 37px;
}

.att-profile-img {
  overflow: hidden;
  img {
    @include image();
  }
}

.att-email-wrapper {
  display: block;
  margin-top: 17px;
  text-align: center;
  span,
  a {
    display: inline-block;
  }
  span {
    margin-right: 6px;
    @include type(
      (
        family: $primaryfont,
        color: $color-dark-one,
        weight: 800,
        transform: uppercase,
      )
    );
  }
  a {
    @include type(
      (
        size: 16px,
        height: 18px,
        spacing: 0.4px,
        family: $primaryfont,
        color: $color-dark-three,
        weight: 600,
        decoration: underline,
        align: center,
      )
    );
  }
}

#att-intro-wrapper {
  margin-top: 30px;
  .single-video {
    // inherits most video styles from the videocenter
    margin-bottom: 18px;
    .video-thumb {
      border: 14px solid #fff;
    }
    .mywisita {
      height: 155px;
    }
  }
}

#att-intro {
  @include type(
    (
      size: 16px,
      height: 28px,
      family: $primaryfont,
      color: $color-dark-three,
      weight: 800,
    )
  );
}

.sidebar-bio {
  .widget {
    h3 {
      padding: 0 20px;
      position: relative;
      &:before {
        top: 45%;
        transform: translateY(-50%);
      }
    }
    ul {
      li {
        position: relative;

        &:last-of-type {
          a {
            padding-bottom: 0;
            border-bottom: none;
          }
        }
        a {
          padding-left: 25px;
          &:before {
            background: $color-bright-two;
            border-radius: 50%;
            @include box(5px);
            @include contentdisplay();
            @include abs(21px, null, null, 0);
          }
        }
      }
    }
    &.articles {
      padding-bottom: 0;
    }
  }
}

#bio-slider {
  margin-top: 30px;
  margin-bottom: 40px;
}

.bio-slide {
  text-align: center;
  span.bio-slide-title {
    display: block;
    max-width: 185px;
    @include margin_lr;
    @include type(
      (
        size: 15px,
        height: 22px,
        spacing: 0.45px,
        family: $primaryfont,
        color: $color-bright-two,
        weight: 800,
        transform: uppercase,
      )
    );
  }
  .bio-slide-content {
    margin-top: 17px;
    p {
      a {
        transition: all 200ms ease-in-out;
        color: $color-dark-three !important;
        &:hover {
          color: $color-bright-two !important;
        }
      }
    }
  }
}

.bio-slider-arrow-wrapper {
  width: calc(100% + 50px);
  margin-left: -25px;
  @include flex();
  .bio-arrow {
    flex-basis: 50%;
    background: #62676d;
  }
}
