// vars/mixins

@import "imports/global/fonts/variables", "imports/global/colors/variables",
  "imports/global/mediaqueries/variables",
  //"imports/global/misc/variables",
  //"imports/global/content/variables",
  //"imports/components/buttons/variables",
  // "imports/components/internal-forms/variables",
  // "imports/components/logo_slider/variables",
  "imports/layout/header/variables",
  //"imports/layout/footer/variables",
  // "imports/layout/internalbanner/variables",
  // "imports/layout/locations/variables",
  "imports/layout/navigation/variables",
  // "imports/layout/sidebar/variables",
  // "imports/templates/404/variables",
  // "imports/templates/about/variables",
  // "imports/templates/attorneyprofile/variables",
  // "imports/templates/blog/variables",
  // "imports/templates/caseresults/variables",
  // "imports/templates/contactpage/variables",
  "imports/templates/homepage/sectionone/variables",
  // "imports/templates/homepage/sectiontwo/variables",
  // "imports/templates/homepage/sectionthree/variables",
  // "imports/templates/homepage/sectionfour/variables",
  // "imports/templates/homepage/sectionfive/variables",
  // "imports/templates/homepage/sectionsix/variables",
  // "imports/templates/homepage/sectionseven/variables",
  // "imports/templates/meetteam/variables",
  // "imports/templates/pa-directory/variables",
  // "imports/templates/testimonials/variables",
  // "imports/templates/videocenter/variables",
  // "imports/templates/landingpage/global/variables",
  // "imports/templates/landingpage/header/variables",
  // "imports/templates/landingpage/sectionone/variables",
  // "imports/templates/landingpage/sectiontwo/variables",
  // "imports/templates/landingpage/sectionthree/variables",
  // "imports/templates/landingpage/sectionfour/variables",
  // "imports/templates/landingpage/sectionfive/variables",
  // "imports/templates/landingpage/sectionsix/variables",
  // "imports/templates/landingpage/sidebar/variables",
  // "imports/templates/landingpage/footer/variables",
  "imports/utils/variables-do-not-edit",
  "imports/utils/mixins-do-not-edit";

// third party files

@import "imports/vendors/slick", "imports/vendors/lity";

// reset

@import "imports/base/reset";

// global

// @import "imports/global/content/content",
//         "imports/global/misc/global";

// components

// @import "imports/components/buttons/buttons",
//         "imports/components/internal_forms/internal-content-forms";

// layout

@import "imports/layout/header/header", "imports/layout/navigation/navigation";
// "imports/layout/internalbanner/internal-banner",
// "imports/layout/sidebar/sidebar",
// "imports/layout/locations/locations",
// "imports/layout/footer/footer";

// page templates

@import "imports/templates/homepage/sectionone/section-one";
// "imports/templates/homepage/sectiontwo/section-two",
// "imports/templates/homepage/sectionthree/section-three",
// "imports/templates/homepage/sectionfour/section-four",
// "imports/templates/homepage/sectionfive/section-five",
// "imports/templates/homepage/sectionsix/section-six",
// "imports/templates/homepage/sectionseven/section-seven",
// "imports/templates/pa-directory/template-pa-directory",
// "imports/templates/testimonials/template-testimonials",
// "imports/templates/about/template-about",
// "imports/templates/attorneyprofile/template-attbio",
// "imports/templates/caseresults/template-results",
// "imports/templates/meetteam/template-meetteam",
// "imports/templates/videocenter/template-video",
// "imports/templates/contactpage/contact",
// "imports/templates/blog/template-blog",
// "imports/templates/404/not-found";

// // xd export variables

// @import	"imports/utils/xd_parse/scss/map/_xd_map_placeholder",
// 		"imports/utils/xd_parse/scss/map/_xd_map",
// 		"imports/utils/xd_parse/scss/functions/_xd_function",
// 		"imports/utils/xd_parse/scss/_xd_variables";

// // animations (listed last so it will override styles above

// @import	"imports/layout/animations";
