.preload-section {
  opacity: 0;
  transition: all 800ms ease-in-out;
}

.load-after {
  opacity: 1;
}

.preload-slider {
  display: none;
}

.slick-slider {
  display: block;
}

#internal-main {
  background: $color-light-two;
  margin-top: 93px;
  @include mq(small-laptop) {
    margin-top: 0;
  }
}

.page-title-wrapper {
  text-align: center;
}

.page-title {
  display: inline-block;
  @include margin_lr;
  @include type(
    (
      size: 35px,
      height: 40px,
      family: $secondaryfont,
      color: $color-dark-one,
      weight: 500,
    )
  );
  @include mq(small-tablet) {
    @include margin_lr;
    @include quick_type(55px, 60px, null);
  }
  @include mq(small-laptop) {
    max-width: 100%;
    text-align: left;
    width: 100%;
    margin: 0;
    @include quick_type(50px, 55px, null);
  }
  &:before {
  }
  &:after {
    background: $color-bright-two;
    max-width: 508px;
    margin: 15px auto 0;
    @include box(100%, 1px);
    @include contentdisplay();
    @include mq(small-laptop) {
      max-width: 100%;
      margin: 30px 0 0;
    }
  }
}

.page-large-content-title {
  padding: 47px 45px 0;
  @include margin_lr;
  @include mq(small-tablet) {
    padding: 66px 100px 0;
  }
  @include mq(small-laptop) {
    margin-bottom: 20px;
    padding: 66px 60px 0;
    text-align: center;
    border-bottom: none;
  }
  @include mq(large-laptop) {
    padding: 66px 105px 0;
    max-width: 1080px;
    @include quick_type(55px, 60px, null);
  }
  @include mq(small-monitor) {
    max-width: 1760px;
    padding: 105px 105px 10px;
    @include margin_lr;
    @include quick_type(80px, 85px, null);
  }
  &:after {
    @include mq(small-laptop) {
      max-width: 508px;
      @include margin_lr;
    }
    @include mq(small-monitor) {
      margin-top: 53px;
    }
  }
}

body.page-template-default {
  .page-large-content-title {
    @include mq(small-monitor) {
      @include quick_type(70px, 75px, null);
    }
  }
  #page-descrip-wrapper {
    padding: 0;
  }
}

#page-container {
  padding: 47px 45px 72px;
  @include mq(small-tablet) {
    padding: 66px 100px 97px;
  }
  @include mq(small-laptop) {
    padding: 100px 60px 97px;
  }
  @include mq(large-laptop) {
    padding: 100px 105px 115px;
  }
  @include mq(small-monitor) {
    max-width: 1760px;
    @include margin_lr;
  }
  &.no-banner-layout {
    padding-top: 0px;
    @include mq(small-laptop) {
      padding-top: 50px;
    }
    .page-content-inner {
      @include mq(small-laptop) {
        padding-top: 0;
        margin-top: -15px;
      }
    }
  }
  &.two-col {
    @include mq(small-laptop) {
      @include flex();
    }
  }
}

.page-content {
  order: 2;
  @include mq(small-laptop) {
    flex-grow: 1;
  }
}

.page-content-inner {
  padding-top: 40px;
  @include mq(small-laptop) {
    padding-top: 25px;
  }
}

span#page-subtitle {
  display: block;
  margin-top: 20px;
  @include type(
    (
      size: 16px,
      height: 25px,
      family: $primaryfont,
      color: $color-bright-two,
      weight: 800,
      transform: uppercase,
    )
  );
  @include mq(small-laptop) {
    @include quick_type(18px, 27px, null);
  }
}

#page-descrip-wrapper {
  padding: 30px 45px 0;
  max-width: 890px;
  @include margin_lr;
  @include type(
    (
      size: 16px,
      height: 28px,
      family: $primaryfont,
      color: $color-dark-three,
      weight: 800,
      align: center,
    )
  );
  @include mq(small-tablet) {
    padding: 30px 100px 0;
    max-width: 910px;
    @include quick_type(17px, 33px, null);
  }
  @include mq(small-laptop) {
    padding: 30px 0px 0;
    @include quick_type(17px, 35px, null);
  }
  @include mq(large-laptop) {
    padding: 0px 0px 0;
    @include quick_type(17px, 35px, null);
  }
  p {
    margin-bottom: 20px;
  }
}

.gform_wrapper ul li ::-webkit-input-placeholder {
  color: #62676d;
}
.gform_wrapper ul li ::-moz-placeholder {
  color: #62676d;
}
.gform_wrapper ul li :-moz-placeholder {
  color: #62676d;
}
.gform_wrapper ul li :-ms-input-placeholder {
  color: #62676d;
}
.gform_wrapper ul li ::-moz-placeholder {
  opacity: 1;
}
