body.blog,
body.archive {
  #internal-banner {
    display: block;
    padding-bottom: 0;
  }
  #banner-descrip {
    max-width: 345px;
    @include mq(small-tablet) {
      max-width: 555px;
    }
    @include mq(small-laptop) {
      max-width: 680px;
    }
    &:after {
      background: $color-bright-two;
      margin: 33px 0 5px 0;
      @include box(100%, 1px);
      @include contentdisplay();
      @include mq(small-tablet) {
        margin: 21px auto 15px;
        max-width: 400px;
      }
      @include mq(small-laptop) {
        display: none;
      }
    }
  }
  .page-title {
    &:after {
      display: none;
    }
  }
  .page-content-inner {
    padding-top: 0;
  }
}

span.date {
  display: block;
  @include type(
    (
      size: 14px,
      height: 16px,
      spacing: 1.4px,
      align: center,
      family: $primaryfont,
      color: $color-bright-two,
      weight: 800,
      transform: uppercase,
    )
  );
  @include mq(small-laptop) {
    text-align: left;
  }
}

.blog-post {
  padding-bottom: 43px;
  margin-bottom: 40px;
  border-bottom: 1px solid #c6ced8;
  @include mq(small-tablet) {
    margin-bottom: 42px;
  }
  @include mq(small-laptop) {
    @include flex();
  }
  @include mq(large-laptop) {
    margin-bottom: 55px;
    padding-bottom: 59px;
  }
  .blog-post-featured-image {
    display: none;
    @include mq(small-laptop) {
      display: block;
      width: 182px;
      flex-shrink: 0;
      margin-right: 26px;
      img {
        border: 16px solid $color-light-one;
        box-shadow: 0px 1px 20px #00000040;
        @include image();
      }
    }
  }
  .blog-post-featured-image {
    flex-grow: 1;
  }
  h2.blog-header {
    margin-top: 8px;
    @include type(
      (
        size: 18px,
        height: 28px,
        family: $primaryfont,
        color: $color-dark-three,
        weight: 800,
      )
    );
    @include mq(small-tablet) {
      @include quick_type(19px, 30px, null);
    }
    @include mq(large-laptop) {
      @include quick_type(22px, 35px, null);
    }
    a {
      color: $color-dark-three;
      text-decoration: none;
      transition: all 200ms ease-in-out;
      &:hover {
        color: $color-bright-two;
      }
    }
  }
  .blog-content {
    margin-top: 20px;
    margin-bottom: 25px;

    @include mq(small-laptop) {
      margin-top: 5px;
    }
    @include mq(small-monitor) {
      margin-top: 15px;
    }
  }
}

body.single {
  .blog-content {
    position: relative;
    margin-top: 30px;
    @include mq(small-laptop) {
      margin-top: 50px;
    }
  }
  .page-content {
    @include mq(small-tablet) {
      padding-top: 25px;
    }
  }
  #page-container.no-banner-layout {
    @include mq(small-laptop) {
      padding-top: 70px;
    }
  }
}

.navigation {
  margin-top: -14px;
  margin-bottom: 58px;
  @include mq(small-tablet) {
    margin-top: 67px;
    margin-bottom: 80px;
  }
  @include mq(small-laptop) {
    margin-top: 45px;
    margin-bottom: 26px;
  }
  @include mq(large-laptop) {
    margin-bottom: 0;
    margin-top: -20px;
  }
  ul {
    list-style: none;
    @include flex(center, center);
    @include mq(small-tablet) {
      position: relative;
    }
    @include mq(small-laptop) {
      @include flex(flex-end, center);
    }
    li {
      @include type(
        (
          size: 16px,
          height: 18px,
          family: $primaryfont,
          weight: 800,
        )
      );
      &:not(.myprev):not(.mynext) {
        margin: 0 7px;
      }
      &.active {
        a {
          color: $color-bright-two;
        }
      }
      &.myprev,
      &.mynext {
        position: relative;
        background: #d6d9dd;
        flex-shrink: 0;
        border-radius: 50%;

        @include box(36px);
        @include flex(center, center);
        @include mq(small-tablet) {
          @include abs(-7px, null, null, 0);
        }
        @include mq(small-laptop) {
          border-radius: 0;
          position: relative;
          background: transparent;
          top: 0px;
          @include box(8px, 9px);
        }
        &:before {
          @include mq(small-laptop) {
            @include contentdisplay();
          }
        }
        &:after {
          background: #62676d;
          border-radius: 50%;
          transition: all 200ms ease-in-out;
          @include box(30px);
          @include contentdisplay();
          @include mq(small-laptop) {
            display: none;
          }
        }
        &:hover {
          &:after {
            background: #8c949d;
          }
        }
        img,
        a {
          @include abs(0, null, null, 0);
        }
        img {
          z-index: 1;
          @include image();
          @include box(8px, 14px);
          top: 11px;
          left: 12px;
          @include mq(small-laptop) {
            display: none;
          }
        }
        a {
          display: block;
          z-index: 1;
          @include box(36px);
          @include mq(small-laptop) {
            @include box(7px, 10px);
          }
        }
      }
      &.myprev {
        margin-right: 15px;
        @include mq(small-laptop) {
          margin-right: 8px;
        }
        &:before {
          @include mq(small-laptop) {
            @include tri(left, 5px, 7px, $color-dark-one);
          }
        }
        &:hover {
          &:before {
            @include mq(small-laptop) {
              @include tri(left, 5px, 7px, $color-bright-two);
            }
          }
        }
      }
      &.mynext {
        left: auto;
        right: 0;
        margin-left: 15px;
        @include mq(small-laptop) {
          margin-left: 8px;
        }
        &:before {
          @include mq(small-laptop) {
            @include tri(right, 5px, 7px, $color-dark-one);
          }
        }
        &:hover {
          &:before {
            @include mq(small-laptop) {
              @include tri(right, 5px, 7px, $color-bright-two);
            }
          }
        }
        img {
          left: 15px;
        }
      }
      a {
        color: $color-dark-one;
        text-decoration: none;
        transition: all 200ms ease-in-out;
        &:hover {
          color: $color-bright-two;
        }
      }
    }
  }
}

#related-news {
  border-top: 1px solid #c6ced8;
  padding-top: 35px;
  padding-bottom: 15px;
  margin-top: 45px;
  h3 {
    text-transform: uppercase;
  }
  ul {
    li {
      a {
        color: $color-dark-three;
        &:hover {
          color: $color-bright-two;
        }
      }
    }
  }
}

span.myshare {
  display: block;
  margin-bottom: 7px;
  @include type(
    (
      size: 10px,
      spacing: 1px,
      family: $primaryfont,
      color: $color-dark-one,
      weight: 800,
      align: center,
      transform: uppercase,
    )
  );
}

.at-above-post {
  margin-bottom: 50px;
  @include mq(small-laptop) {
    @include flex();
    @include abs(-70px, 0, null, null);
  }
}
.at-share-btn-elements {
  @include flex(center, center);
}

span.myshare {
  @include mq(small-laptop) {
    margin-right: 10px;
  }
}
