#section-three {
  padding: 47px 25px;
  @include mq(small-tablet) {
    padding: 65px 100px 100px;
  }
  @include mq(small-laptop) {
    padding: 94px 85px 100px 100px;
  }
  @include mq(large-laptop) {
    padding: 122px 85px 60px 100px;
  }
  @include mq(small-monitor) {
    padding: 135px 85px 220px 100px;
  }
}

#sec-three-inner {
  max-width: 1495px;
  @include margin_lr;
}

#sec-three-header-wrapper {
  text-align: center;
}

span#sec-three-subtitle {
  display: block;
  margin-bottom: 20px;
  @include type(
    (
      size: 14px,
      height: 16px,
      spacing: 1.4px,
      family: $primaryfont,
      color: $color-bright-two,
      weight: 800,
      transform: uppercase,
    )
  );
  @include mq(small-tablet) {
    font-size: 16px;
  }
  @include mq(small-laptop) {
    font-size: 18px;
  }
  @include mq(large-laptop) {
    margin-bottom: 30px;
  }
  span {
    display: inline-block;
    font-size: 9px;
    vertical-align: top;
    position: relative;
    top: -2px;
  }
}

h1#sec-three-header {
  @include type(
    (
      size: 50px,
      height: 50px,
      family: $secondaryfont,
      color: $color-dark-one,
      weight: 500,
    )
  );
  @include mq(small-tablet) {
    @include quick_type(75px, 75px, null);
  }
  @include mq(small-laptop) {
    max-width: 710px;
    @include margin_lr;
    @include quick_type(90px, 95px, null);
  }
  @include mq(large-laptop) {
    max-width: 750px;
    @include quick_type(100px, 100px, null);
  }
}

#sec-three-video-wrapper {
  width: calc(100% - 25px);
  margin-left: 23px;
  margin-top: 60px;
  background: $color-dark-three;
  padding-top: 1px;
  max-width: 410px;
  box-shadow: 0px 1px 40px #00000066;
  position: relative;
  left: 10px;
  @include margin_lr;
  @include mq(small-tablet) {
    max-width: 432px;
  }
  @include mq(small-laptop) {
    left: 0px;
  }
  @include mq(small-monitor) {
    margin-left: 30px;
    margin-right: 0;
    max-width: 600px;
    @include flex();
  }
  &:hover {
    #sec-three-video-thumbnail {
      img {
        transform: scale(1.075);
      }
      #sec-three-video-overlay {
        .play-button {
          &:before {
            transform: scale(1.2);
          }
          &:after {
            @include tri(right, 12px, 19px, $color-bright-one);
          }
        }
      }
    }
  }
  #sec-three-video-thumbnail {
    width: 100%;
    margin-top: -60px;
    margin-left: -25px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    @include mq(small-tablet) {
      width: calc(100% - 45px);
      margin-top: -30px;
    }
    @include mq(small-monitor) {
      flex-basis: 388px;
      flex-shrink: 0;
      height: 240px;
    }
    img {
      transform: scale(1);
      transition: all 600ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
      @include image();
      width: 100%;
    }
    #mywistia {
      @include box(100%);
      @include abs(0, null, null, 0, 1);
    }
    #sec-three-video-overlay {
      @include box(100%);
      @include abs(0, null, null, 0);
      @include flex(center, center);
      .play-button {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        position: relative;
        @include flex(center, center);
        @include box(72px);
        @include mq(small-tablet) {
          @include box(105px);
        }
        &:before,
        &:after {
          @include contentdisplay();
        }
        &:before {
          border-radius: 50%;
          background: $color-light-one;
          transform: scale(1);
          transition: all 500ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
          @include box(51px);
          @include mq(small-tablet) {
            @include box(74px);
          }
        }
        &:after {
          @include abs(28px, null, null, 31px);
          @include tri(right, 8px, 12px, $color-bright-two);
          @include mq(small-tablet) {
            top: 40px;
            left: 46px;
            transition: all 200ms ease-in-out;
            @include tri(right, 12px, 19px, $color-bright-two);
          }
        }
      }
    }
  }
  span#sec-three-video-descrip {
    display: block;
    padding: 14px 33px 20px 23px;
    @include type(
      (
        size: 15px,
        height: 22px,
        family: $primaryfont,
        color: $color-light-one,
        weight: 700,
      )
    );
    @include mq(small-tablet) {
      padding: 14px 33px 20px 37px;
    }
    @include mq(small-monitor) {
      padding: 115px 33px 45px 37px;
    }
  }
}

#sec-three-intro {
  margin-top: 37px;
  @include type(
    (
      size: 18px,
      height: 28px,
      family: $primaryfont,
      color: $color-dark-three,
      weight: 800,
    )
  );
  @include mq(small-tablet) {
    margin-top: 58px;
    padding-bottom: 8px;
    @include quick_type(20px, 33px, null);
  }
  @include mq(small-laptop) {
    margin-top: 43px;
    @include quick_type(23px, 37px, null);
  }
  @include mq(large-laptop) {
    margin-top: 46px;
  }
  @include mq(small-monitor) {
    margin-top: 63px;
    padding-bottom: 19px;
  }
  p {
    margin-bottom: 20px;
    &:first-of-type {
      &:before {
        background: $color-bright-two;
        vertical-align: top;
        margin-top: 13px;
        margin-right: 6px;
        @include box(40px, 4px);
        @include contentdisplay(inline-block);
        @include mq(small-tablet) {
          margin-top: 15px;
        }
        @include mq(small-laptop) {
          margin-top: 17px;
        }
      }
    }
  }
}

#sec-three-slider {
  margin-top: 20px;
  @include mq(small-tablet) {
    margin-top: 50px;
  }
}

.sec-three-slide {
  text-align: center;
  @include mq(small-tablet) {
    text-align: left;
  }
  &:first-of-type {
    @include mq(small-tablet) {
      margin-bottom: 65px;
    }
    @include mq(small-laptop) {
      margin-bottom: 85px;
    }
    @include mq(large-laptop) {
      margin-bottom: 110px;
    }
    @include mq(small-monitor) {
      margin-bottom: 155px;
    }
  }
  &:last-of-type {
    img {
      @include mq(large-laptop) {
        width: 154px;
      }
    }
  }
  span {
    display: block;
  }
  img {
    @include margin_lr;
    @include image();
    width: 165px;
    @include mq(small-laptop) {
      width: 165px;
    }
  }
  img.sec-three-desktop-img {
    @include mq(small-tablet) {
      display: none;
    }
  }
  span.sec-three-slide-title {
    margin-top: 20px;
    border-bottom: 1px solid #c6ced8;
    padding-bottom: 20px;
    max-width: 260px;
    @include margin_lr;
    @include type(
      (
        size: 15px,
        height: 18px,
        family: $primaryfont,
        color: $color-dark-three,
        weight: 800,
      )
    );
    @include mq(small-tablet) {
      max-width: 100%;
      padding-bottom: 0;
      border: none;
    }
    @include mq(large-laptop) {
      @include quick_type(17px, 22px, null);
    }
  }
  span.sec-three-descrip {
    margin-top: 14px;
    @include type(
      (
        size: 18px,
        height: 25px,
        family: $primaryfont,
        color: $color-dark-one,
        weight: 800,
      )
    );
    @include mq(small-tablet) {
      padding-bottom: 30px;
      border-bottom: 1px solid #c6ced8;
    }
    @include mq(small-laptop) {
      margin-top: 23px;
    }
    @include mq(large-laptop) {
      @include quick_type(22px, 30px, null);
    }
    span {
      font-size: 10px;
      vertical-align: top;
      display: inline-block;
      margin-top: -2px;
    }
  }
  .sec-three-extended-descrip {
    @include mq(small-tablet) {
      padding-top: 25px;
      @include flex();
      @include type(
        (
          size: 14px,
          height: 24px,
          family: $primaryfont,
          color: #62676d,
        )
      );
      @include mq(small-laptop) {
        padding-top: 29px;
        @include quick_type(15px, 25px, null);
      }
      @include mq(small-monitor) {
        padding-top: 20px;
      }
    }
    .sec-three-mobile-img-wrapper {
      flex-basis: 215px;
      flex-shrink: 0;
      display: none;
      @include mq(small-tablet) {
        display: block;
      }
      @include mq(small-laptop) {
        flex-basis: 190px;
      }
      @include mq(large-laptop) {
        flex-basis: 235px;
      }
      @include mq(small-monitor) {
        flex-basis: 220px;
        margin-right: 20px;
      }
      img {
        margin-top: 10px;
        @include mq(small-laptop) {
          margin: 47px 0 0;
        }
        @include mq(large-laptop) {
          margin: 28px auto 0;
        }
      }
    }
    .sec-three-extended-content {
      p {
        display: none;
        margin-bottom: 15px;
        @include mq(small-tablet) {
          display: block;
        }
      }
    }
  }
}

#sec-three-arrow-wrapper {
  margin-top: 28px;
  @include flex();
  @include mq(small-tablet) {
    display: none;
  }
}

.sec-arrow-three {
  flex-basis: 50%;
  background: #62676d;
  padding: 10px 5px;
  @include flex(center, center);
  svg {
    @include box(7px, 16px);
  }
}

.sec-three-arrow-left {
  border-right: 1px solid #91979f;
}

#sec-three-content {
  padding: 37px 0 0 0;
  @include mq(small-tablet) {
    padding: 14px 0 0 0;
  }
  @include mq(small-laptop) {
    padding: 40px 0 0 0;
    @include flex(space-between);
  }
}

.sec-three-col {
  @include mq(small-laptop) {
    flex-basis: 46%;
  }
  &:last-of-type {
    max-width: 300px;
    min-height: 470px;
    @include margin_lr;
    @include mq(small-tablet) {
      max-width: 100%;
      margin: 0;
      min-height: unset;
    }
    @include mq(small-laptop) {
      margin-top: 6px;
    }
    @include mq(small-monitor) {
      margin-top: 17px;
    }
  }
}

#section-three {
  .preload-section {
    @include mq(small-tablet) {
      opacity: 1;
    }
  }
  .preload-slider {
    @include mq(small-tablet) {
      display: block;
    }
  }
}
