body.page-template-template-contact {
  #internal-banner {
    display: block;
  }
  #internal-banner-content {
    @include mq(small-laptop) {
      padding-top: 93px;
    }
    @include mq(large-laptop) {
      padding-top: 150px;
    }
  }
  #page-container {
    padding-top: 0;
    @include mq(small-laptop) {
      padding-top: 60px;
    }
  }
  #social-media-wrapper {
    padding-top: 0;
    @include mq(small-laptop) {
      padding-top: 10px;
    }
    a {
      @include mq(small-tablet) {
        margin: 0 5px;
      }
      @include mq(small-laptop) {
        @include box(48px);
      }
      @include mq(large-laptop) {
        margin: 0 13px;
      }
      &:after {
        background: $color-bright-two;
        @include mq(small-laptop) {
          background: transparent;
          @include box(48px);
        }
      }
      &:hover {
        &:after {
          @include mq(small-laptop) {
            background: $color-bright-two;
          }
        }
      }
      svg {
        @include box(40px);
        @include mq(small-laptop) {
          @include box(48px);
        }
      }
    }
  }
  #banner-descrip {
    max-width: 320px;
    @include mq(small-laptop) {
      max-width: 100%;
    }
  }
}

#contact-wrapper {
  text-align: center;
}

#contact-top {
  max-width: 400px;
  @include margin_lr;
  @include type(
    (
      size: 18px,
      height: 21px,
      family: $primaryfont,
      color: $color-dark-one,
      weight: 600,
    )
  );
  @include mq(small-tablet) {
    max-width: 490px;
  }
  a {
    margin-left: 5px;
    font-weight: 800;
    color: $color-dark-three;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    &:hover {
      color: $color-bright-two;
    }
  }
}

#contact-phone-wrapper {
  padding-bottom: 13px;
  margin-bottom: 20px;
  border-bottom: 1px solid $color-bright-two;
  @include mq(small-tablet) {
    padding-left: 35px;
    padding-right: 35px;
    @include flex(space-between);
  }
}

.contact-top-phone {
  display: block;
  padding: 0 10px;

  &:first-of-type {
    margin-bottom: 10px;
  }
  span,
  a {
    display: inline-block;
  }
  a {
    margin-left: 5px;
  }
}

#contact-call-us {
  &.content {
    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  a {
    margin-left: 0;
    text-decoration: underline;
  }
}

#contact-map-wrapper {
  margin-top: 40px;
  max-width: 350px;
  @include margin_lr;
  @include mq(small-tablet) {
    max-width: 845px;
    margin-top: 57px;
  }
  @include mq(large-laptop) {
    max-width: 999px;
  }
}

.contact-map {
  background: $color-light-one;
  box-shadow: 0px 1px 20px #00000040;
  padding: 30px 20px;
  @include mq(small-tablet) {
    padding: 30px;
    height: 303px;
    @include flex(space-between);
  }
  &:first-of-type {
    margin-bottom: 40px;
    @include mq(large-laptop) {
      margin-bottom: 47px;
    }
  }
  .contact-map-left {
    @include mq(small-tablet) {
      text-align: left;
      flex-basis: 250px;
      flex-shrink: 0;
      margin-right: 10px;
      padding-top: 20px;
    }
    span {
      display: block;
      &.contact-map-title {
        @include type(
          (
            size: 14px,
            family: $primaryfont,
            color: $color-bright-two,
            weight: 800,
            transform: uppercase,
          )
        );
      }
      &.contact-map-address {
        margin-top: 10px;
        max-width: 230px;
        @include margin_lr;
        @include type(
          (
            size: 16px,
            height: 25px,
            family: $primaryfont,
            color: $color-dark-one,
            weight: 600,
          )
        );
        @include mq(mobile) {
          max-width: 100%;
        }
        br {
          display: none;
          @include mq(mobile) {
            display: inline-block;
          }
        }
      }
    }
    a {
      &.contact-map-phone {
        margin-top: 15px;
        display: block;
        @include type(
          (
            size: 16px,
            height: 25px,
            family: $primaryfont,
            color: $color-dark-one,
            weight: 600,
          )
        );
      }
      &.contact-get-directions {
        margin-top: 30px;
        border: 2px solid $color-bright-two;
        color: $color-dark-one;
        padding: 8px 23px;
        @include margin_lr;
        @include mq(small-tablet) {
          margin-left: 0;
          margin-right: 0;
        }
        &:hover {
          color: $color-light-one;
        }
      }
    }
  }
  .contact-map-right {
    margin-top: 30px;
    position: relative;
    height: 200px;
    @include mq(small-tablet) {
      margin-top: 0;
      flex-grow: 1;
      height: auto;
    }
    iframe {
      width: 100% !important;
      height: 100% !important;
      @include abs(0, null, null, 0);
    }
  }
}
