////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////

$color_dark_one: #0e1326;
$color_dark_two: #042b70;
$color_dark_three: #043c98;

$color_bright_one: #f29b3b;
$color_bright_two: #bf7b30;

$color_light_one: #fff;
$color_light_two: #f3f5f6;
