////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////

$color_bright_one: #d10200;
$color_bright_two: #f30200;

$color_dark_one: #191919;
$color_dark_two: #272727;
$color_dark_three: #454545;
$color_dark_four: #bababa;

$color_light_one: #fff;
$color_light_two: #f4f4f4;
