////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////

$color-dark-one: #0e1326;
$color-dark-two: #042b70;
$color-dark-three: #0437a4;
$color-dark-four: #132666;

$color-bright-one: #f29b3b;
$color-bright-two: #bf7b30;

$color-light-one: #fff;
$color-light-two: #f3f5f6;
