#section-eight {
  background: $color-dark-one;
  padding: 49px 30px 80px;
  @include mq(small-tablet) {
    padding: 77px 73px 80px;
  }
  @include mq(small-laptop) {
    padding: 104px 75px 100px;
  }
  @include mq(large-laptop) {
    padding: 104px 75px 120px;
  }
  @include mq(small-monitor) {
    padding: 124px 75px 150px;
  }
}

#sec-eight-inner {
  max-width: 500px;
  @include margin_lr;
  @include mq(small-tablet) {
    max-width: 690px;
  }
  @include mq(small-laptop) {
    max-width: 100%;
  }
  @include mq(large-laptop) {
    max-width: 1285px;
  }
  @include mq(small-monitor) {
    max-width: 1335px;
  }
}

span#sec-eight-title {
  display: block;
  width: max-content;
  text-align: center;
  @include margin_lr;
  @include type(
    (
      size: 35px,
      height: 38px,
      family: $secondaryfont,
      color: $color-light-one,
      weight: 500,
    )
  );
  @include mq(small-tablet) {
    @include quick_type(50px, 55px, null);
  }
  @include mq(small-laptop) {
    @include quick_type(75px, 75px, null);
  }
  &:after {
    margin-top: 24px;
    margin-bottom: 21px;
    background: $color-bright-one;
    @include box(100%, 1px);
    @include contentdisplay();
    @include mq(small-tablet) {
      margin-top: 30px;
      margin-bottom: 37px;
    }
    @include mq(small-laptop) {
      margin-top: 23px;
      max-width: 318px;
      @include margin_lr;
    }
  }
}

#sec-eight-descrip {
  padding: 0 8px;
  @include type(
    (
      size: 14px,
      height: 25px,
      family: $primaryfont,
      color: #c1c6d5,
      align: center,
      weight: 600,
    )
  );
  @include mq(small-tablet) {
    @include quick_type(16px, 30px, null);
  }
  @include mq(small-laptop) {
    font-size: 17px;
    max-width: 727px;
    @include margin_lr;
  }
  @include mq(large-laptop) {
    max-width: 757px;
  }
  @include mq(small-monitor) {
    max-width: 757px;
  }
}

#sec-eight-slide-wrapper {
  margin-top: 35px;
  min-height: 498px;
  @include mq(small-tablet) {
    max-width: 585px;
    margin-top: 50px;
    min-height: 477px;
    @include margin_lr;
    @include flex(space-between, center);
  }
  @include mq(small-laptop) {
    max-width: 100%;
    margin-top: 45px;
    min-height: 473px;
  }
  @include mq(large-laptop) {
    margin-top: 90px;
  }
  @include mq(small-monitor) {
    height: 473px;
  }
}

#sec-eight-slider {
  @include margin_lr;
  @include mq(small-tablet) {
    width: calc(100% - 100px);
    padding: 0 30px;
  }
  @include mq(small-laptop) {
    width: 100%;
    padding: 0;
  }
  .slick-slide {
    @include mq(small-laptop) {
      margin: 0 10px;
    }
    @include mq(large-laptop) {
      margin: 0 17px;
    }
    @include mq(small-monitor) {
      margin: 0 10px;
    }
  }
  .slick-list {
    @include mq(small-laptop) {
      margin: 0 -10px;
    }
    @include mq(large-laptop) {
      margin: 0 -17px;
    }
    @include mq(small-monitor) {
      margin: 0 -10px;
    }
  }
  .slick-dots {
    margin-top: 14px;
    position: static;
    li.slick-active {
      button {
        &:before {
          color: $color-light-one;
        }
      }
    }
    li:hover {
      button {
        &:before {
          color: $color-light-one;
        }
      }
    }
    li {
      margin: 0;
      width: 20px;
      button {
        width: 20px;
        &:before {
          widows: 20px;
          opacity: 1;
          color: $color-bright-one;
          font-size: 25px;
          transition: all 200ms ease-in-out;
        }
      }
    }
  }
}

.sec-eight-slide {
  background: $color-light-one;
  .sec-eight-slide-title {
    text-align: center;
    background: $color-light-two;
    padding: 28px 20px;

    @include mq(small-tablet) {
      padding: 40px 20px;
    }
    span {
      display: block;
      max-width: 220px;
      @include margin_lr;
      @include type(
        (
          size: 17px,
          height: 20px,
          family: $primaryfont,
          color: $color-dark-three,
          weight: 800,
        )
      );
      @include mq(mobile) {
        max-width: 100%;
      }
    }
  }
  .sec-eight-slide-inner {
    padding: 8px 15px;
    @include mq(small-tablet) {
      padding: 8px 40px 20px;
    }
    @include mq(small-laptop) {
      padding: 8px 28px 20px;
    }
    .sec-eight-slide-item {
      &:last-of-type {
        a {
          border: none;
        }
      }
      a {
        display: block;
        padding: 17px 23px;
        text-decoration: none;
        border-bottom: 1px solid #e3e6e8;
        @include flex(null, center);
        @include mq(small-tablet) {
          padding: 17px 16px;
        }
        @include mq(small-laptop) {
          height: 69px;
        }
        svg {
          margin-right: 15px;
          @include box(35px);
          @include mq(small-tablet) {
            margin-right: 28px;
          }
          path {
            fill: $color-dark-one !important;
            transition: all 200ms ease-in-out;
          }
        }
        span {
          transition: all 200ms ease-in-out;
          @include type(
            (
              size: 15px,
              height: 17px,
              family: $primaryfont,
              color: $color-dark-one,
              weight: 600,
            )
          );
          @include mq(small-tablet) {
            @include quick_type(17px, 20px, null);
          }
        }
        &:hover {
          svg {
            path {
              fill: $color-bright-two !important;
            }
          }
          span {
            color: $color-bright-two;
          }
        }
      }
    }
  }
}

.sec-eight-arrow {
  display: none;
  &.slick-arrow {
    display: none;
  }
  @include mq(small-tablet) {
    border-radius: 50%;
    flex-shrink: 0;
    background: transparent;
    border: 2px solid $color-bright-one;
    transition: all 200ms ease-in-out;
    position: relative;
    @include box(50px);
  }
  &:hover {
    @include mq(small-tablet) {
      background: #242938;
    }
  }
  svg {
    @include mq(small-tablet) {
      @include abs(13px, null, null, null);
      @include box(9px, 20px);
    }
  }
}

.sec-eight-arrow-left {
  svg {
    left: 15px;
  }
}

.sec-eight-arrow-right {
  svg {
    left: 20px;
  }
}
